<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests" parallel="methods" thread-count="3" verbose="1">
    <suite-files>
        <suite-file path="./regression_tests.xml"/>
        <suite-file path="./functional_tests.xml"/>
    </suite-files>

</suite> <!-- Default Suite -->
